.navbar {
    display: flex;
    &__menu {
        display: flex;
        align-items: center;
        margin-left: auto;
        li {
            padding: 0 15px;
            margin: 0 5px;
        }
    }
}